html {
  box-sizing: border-box;
}

em {
  font-style: normal;
  font-weight: bold;
}

.centered {
  text-align: center;
}

.note {
  color: $medium-grey;
  font-weight: 100;
}

.flash-message {
  margin-top: 1em;
  margin: 0 0 1em;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}

.alert {
  padding: 1em;
  color: $error-font-color;
  border: 1px solid $error-border-color;
  background: $error-background-color;
}

.notice {
  padding: 1em;
  color: $notice-font-color;
  border: 1px solid $notice-border-color;
  background: $notice-background-color;
}

.info {
  padding: 1em;
  color: $info-font-color;
  border: 1px solid $info-border-color;
  background: $info-background-color;
}

.required:after {
  content: "*";
  font-weight: bold;
  color: $red;
  padding-left: 5px;
}

.left-or-right {
  text-align: left;
  @media (min-width: 550px) {
    text-align: right;
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.top-and-bottom-padding {
  padding-top: 1em;
  padding-bottom: 1em;
}

.top-and-bottom-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.display-none {
  display: none;
}
